/* csl.css */
/* for CS 364 PEX2 */
/* author:  Steve Hadfield, 3/14/2011 */

body
{
	background-color: #C2DFFF;
	color: #000000;
	font-family: Arial
}

#csl_site_title
{
	background-color: #79BAEC;
	color: white;
	font-size:  18pt;
	font-weight: bold
}

#csl_navigation
{
	background-color: #2B65EC;
	color: blue;
	font-size: 14pt;
	font-weight: medium
}

#csl_page_title
{
	color: black;
	font-size:  16pt;
	font-weight: bold
}

button {
	float: right;
}