/* csl.css */

body
{
	background-color: #E6E6FA;
	color: #000000;
	font-family: Arial
}

#csl_site_title
{
	background-color: mediumpurple;
	color: white;
	font-size:  18pt;
	font-weight: bold;
}

#csl_navigation
{
	background-color: white;
	color: black;
	font-size: 14pt;
	font-weight: medium
	padding: 5px
}

#csl_page_title
{
	color: black;
	font-size:  16pt;
	font-weight: bold;
}


button
{
	float: right;
}